html{
  overflow-x: hidden;
}

body{
  background-image: url('media/asteroids.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

sup{
  vertical-align:top;
  font-size: 0.7em;
}

p{
  color: white;
}

header{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

tr{
  border: solid #aae6df;
}

td{
  color:white;
  font-size: 1.1875em;
  width: 16%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#he1{
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

#h1{
  color: #f4f5f5;
  font-size: 3em;
  font-family: 'Indie Flower', cursive;
}

#table{
  width: 100%;
}

.th{
  font-weight:bold;
  position: relative;
  left: 5%;
}

.tdp{
  position: relative;
  left: 4%;
}

.tdp2{
  position: relative;
  left: 0.5em;
}

.bground{
  background-color: #565656;
  background: rgba(0, 0, 0, 0.6);
}
