html{
  overflow-x: hidden;
}

body{
  background-image: url('media/asteroids.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

td{
  color:white;
  font-size: 1.1875em;
  width:16%;
}

sup{
  vertical-align:top;
  font-size: 0.7em;
}

p{
  color: white;
}

header{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

tr{
  border: solid #aae6df;
}

#he1{
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

#h1{
  color: #f4f5f5;
  font-size: 3em;
  font-family: 'Indie Flower', cursive;
}

#table{
  width: 100%;
}

#p1,#p2,#p3,#p4{
  color: white;
  width: 10%;
}

p{
  color: white;
}

#tdata1{
  position: relative;
  left: 12%;
  
}

#tdata2{
  position: relative;
  left: 11%;
}

#tdata3{
  position: relative;
  left: 10%;
}

#tdata4{
  position: relative;
  left: 9%;
}
